clint==0.5.1
ecapture==2.0.2
google_api_python_client==2.69.0
google_auth_oauthlib==0.4.6
neuralintents==0.0.4
nltk==3.7
protobuf==4.21.11
py_trello==0.18.0
pyjokes==0.6.0
python-dotenv==0.21.0
pyttsx3==2.90
pytz==2022.1
requests==2.28.1
SpeechRecognition==3.8.1
trello==0.9.7.3 
twilio==7.15.3
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.0.0
